# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# Generated raw data
data/raw/*.csv
data/processed/*.csv

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Power BI temporary files
*.pbit